@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111;

  background-blend-mode: overlay;

  background-image: url("/public/FilesUploadBackgroud.png");
  background-size: cover;
  background-repeat: no-repeat;

  animation: bg-fadein 2s ease-in-out forwards;
}

@keyframes bg-fadein {
  0% {
    background-color: #111;
  }
  100% {
    background-color: #666;
    background-blend-mode: overlay;
  }
}
